/* Main Rules */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lavender;
}

.common_styles {
  height: 5vh;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 8px;
}

label {
  cursor: text;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #ccc;
}

/* Main Section 'To-do List' */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#date_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 7px;
  height: 5vh;
  width: 200px;
  border-radius: 20px 20px 0 0;
  font-family: monospace;
  background-color: rgb(217, 186, 128);
  color: rgba(255, 255, 255, 0.901);
}

.list_placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-bottom: 50px;
  width: 75vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 50%);
  border-radius: 20px 20px 15px 15px;
}

.title_icn_container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 25vh;
  border-radius: 10px 10px 10px 10px;
}

#list_title {
  font-family: monospace;
  font-size: 1.2rem;
  color: lavender;
  margin: 0 0 5px 5px;
  display: flex;
  align-items: center;
}

.fa-rotate {
  color: lavender;
  cursor: pointer;
  margin: 0 5px 5px 0;
}

#add_task {
  font-size: 13px;
  font-style: italic;
}

.todo_list {
  list-style: none;
}

.drag_start {
  opacity: 0.1;
  transition: all 0.3s ease;
}

.over {
  opacity: 0.5;
  transform: scale(1.05);
  transition: all 0.3s ease;
  border: rgb(183, 183, 183) 1px solid;
  background-color: rgba(255, 255, 255, 0.749);
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

.task_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

/* Pop-up container */

.icons_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.drag_icon {
  display: none;
  color: rgb(126, 126, 126);
  cursor: grab;
  margin: 0 8px;
}

.dots_icon {
  display: none;
  cursor: pointer;
  color: rgb(126, 126, 126);
}

.dot_div {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3%;
  width: 150px;
  height: auto;
  margin-inline: 7px;
}

.dot_ul {
  list-style-type: none;
}

.dot_li {
  display: block;
  font-size: 15px;
}

.dot_btn {
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 8px;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: auto;
  gap: 5px;
}

.dot_btn:hover {
  background-color: #d8d7d7;
  color: rgb(255, 255, 255);
}

.edit_icon {
  padding-left: 4px;
}

.trash_icon {
  padding-inline: 4px;
}

/* Clear All btn */

#clear_btn {
  background-color: rgb(217, 186, 128);
  color: rgba(255, 255, 255, 0.901);
  height: 7vh;
  width: 100%;
  border: none;
  font-family: monospace;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
}

#clear_btn:hover {
  color: rgb(161, 161, 161);
}

#clear_btn:active {
  color: rgb(99, 99, 99);
}

/* Media Queries */

@media (min-width: 600px) {
  .list_placeholder {
    width: 40vw;
  }
}

@media (min-width: 800px) {
  .list_placeholder {
    width: 35vw;
  }

  #list_title {
    font-size: 18px;
  }

  .list_item {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .list_placeholder {
    width: 35vw;
  }
}
